<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
  <appSettings>
    <add key="WatchFolder" value="\\testweb06\FTPAREA\ignwpua\google_in\done" />
    <add key="FileFilter" value="*.zip" />
  </appSettings>
</configuration>
